
extends ../shared/template
block content
  h2 Address Book
  table.table.table-bordered
    | Add an Address
    thead
      th Name
      th Color
      th Twitter
      th Facebook
      th Address
    tbody
      each address in addresses
        tr
          td= address.name
          td(style='background-color:#{address.color}')
          td= address.twitter
          td= address.facebook
          td= address.address
          td
            form(method='post', action='/addresses/#{address._id}/delete')
              button.btn.btn-danger delete

block scripts
  script(src='/js/user/home.js')

